.container {
  background-color: white;
  word-wrap: break-word;
  position: relative;
  flex: 1;
}
@media (max-width: 998px) {
  .container {
    position: absolute;
    left: 80px;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
